body {
  background-image: url("./components/images/jamsphere\ background.avif");
  background-size: cover;
}

.signup-section {  
  border-radius: 40px;
  border: 2px solid aqua;
  padding: 20px;
  margin-top: 110%;
  background-color: rgba(0, 255, 255, 0.196);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #8da1c8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
