/* Apply styles to the entire profile container */
.profile-container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative; /* Create a relative positioning context for the container */
}

/* Apply styles to the profile picture */
.profile-container img {
    width: 18%;
    border-radius: 50%;
    position: absolute;
    top: 12em;
    right: 0;
    margin-right: 5em;
    margin-top: -9em; 
    border: .5em solid #003D5B; 
}


/* Apply styles to the profile information section */
.profile-info {
    flex: 1;
    background-color: #EDAE49;
    border-radius: 8px;
    color: #003D5B;
    padding: 5vw;
    font-size: 1.2vw;
}

/* Apply styles to the h2 elements within the profile info section */


.profile-info h2 {
    font-size: 2.5em;
    margin-bottom: 1vh;
    margin-left: 1.2vw;
}
#username{
    font-size: 4em;
}
em{
    font-weight: bolder;
    background: linear-gradient(to right, #D1495B, #00798C, #003D5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-container img {
        position: static;
        width: 60%;
        margin-right: 0;
        margin-top: 1em;
    }

    .profile-info {
        font-size: 1.5em;
        padding: 3vw;
    }

    .profile-info h2 {
        font-size: 2em;
        margin-left: 0;
    }

    #username {
        font-size: 3em;
    }
}