.signup-section {
  max-width: 55vw;
  margin: 0 auto;
  padding: 5vw;
  background-color: #30638E;
  border-radius: 8px;
  color: #003D5B;
}

.signup-section h2 {
  font-size: 2.5vw;
  text-align: center;
  margin-bottom: 4vh;
  font-weight: bolder;
}


.signup-section label,
.signup-section input {
  display: block;
  width: 100%;

}

.signup-section label {
  font-size: 1.5vw;
  font-weight: bold;
}


.signup-section form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.signup-section input {
  padding: 2vh;
  font-size: 1vw;
  border: 1px solid #003D5B;
  border-radius: 4px;
}


.signup-section button[type="submit"] {
  background-color: #EDAE49;
  font-weight: bold;
  width: 100%;
  color: white;
  border: none;
  padding: 2vh 4vw;
  font-size: 1.2vw;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-section button[type="submit"]:hover {
  background-color: #D1495B;
}