.signup-section {
  max-width: 55vw;
  margin: 0 auto;
  padding: 5vw;
  margin-top: 2vh;
  background-color: #30638E;
  border-radius: 8px;
  color: #121212;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.signup-section h2 {
  font-size: 2.5vw;
  text-align: center;
  margin-bottom: 1vh;
  font-weight: bolder;

}


.signup-section label,
.signup-section input {
  display: block;
  width: 100%;

}

.signup-section label {
  font-weight: bold;
}


.signup-section form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.signup-section input {
  padding: 2vh;
  font-size: 1vw;
  border: 1px solid #003D5B;
  border-radius: 4px;
}

.profile-img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s;
}

/* Style for the selected profile image */
.profile-img.selected {
  border-color: #EDAE49;
}

.signup-section button[type="submit"] {
  background-color: #EDAE49;
  font-weight: bold;
  width: 100%;
  color: white;
  margin-top: 1.2vh;
  border: none;
  padding: 2vh 4vw;
  font-size: 1.2vw;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-section button[type="submit"]:hover {
  background-color: #D1495B;
}