nav {
    margin: 0;
    padding: 0;
}

/* Use flexbox to create a horizontal layout */
ul {
    list-style: none;
    display: flex;
}

li {
    padding: 10px;
    /* Add some padding for spacing */
}

li:hover {
    color: #111;
    transform: scale(1.2);
    text-shadow: none;
}