h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-bottom: 10px;
}
input {
  padding: 1px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  width: 200px;
}
label {
  color: #F0F8FF;
  font-weight: bold;
  width: 130px;
  float: left;
}
 .login-section {
  width: 400px;  
  height: 200px;
  border-radius: 70px;
  border: 2px solid aqua;
  padding: 5px;
  position: absolute;
  inset: 0;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.196);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 .login-section:hover {
  background-color: rgba(0, 255, 255, 0.4);
}

.login-section {
  cursor: pointer; 
  transition: 1s;
}