#loginInfo {
    max-width: 55vw;
    margin: 0 auto;
    padding: 5vw;
    margin-top: 2vh;
    background-color: #30638E;
    border-radius: 8px;
    color: #121212;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}


#loginInfo h2 {
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 4vh;
    font-weight: bolder;
}

#loginInfo label {
    font-weight: bold;
}

#loginInfo label,
#loginInfo input {
    display: block;
    width: 100%;
}

#loginInfo form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Apply styles to the input fields inside the .loginInfo section */
#loginInfo input {
    padding: 2vh;
    font-size: 1vw;
    border: 1px solid #003D5B;
    border-radius: 4px;
}

#loginInfo button {
    background-color: #EDAE49;
    font-weight: bold;
    width: 100%;
    color: white;
    border: none;
    margin-top:1.2vh;
    padding: 2vh 4vw;
    font-size: 1.2vw;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginInfo button:hover {
    background-color: #D1495B;
}