.post-container {
    max-width: 90vw;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #D1495B;
    border-radius: 8px;
    color: #003D5B;
    padding: 1rem;
}

.post-content {
    background-color: white;
    border-radius: 4px;
    padding: 2rem;
    flex: 1;

}

.post-container h2 {
    font-size: 3em;
    margin-bottom: 1vh;
}

.post-container h3 {
    font-size: 1.8em;
    margin-bottom: .5vh;
}


.post-container a {
    width: 100%;
    height: 50vh;
    margin-bottom: 2vh;
}

.post-container a:hover {
    width: 100%;
    height: 50vh;
    margin-bottom: 2vh;
    text-decoration: underline #003D5B;
}

.post-container h2#postUsername {
    margin-top: auto;
}

.post-container button {
    background-color: #EDAE49;
    font-weight: bold;
    color: white;
    border: none;
    padding: 2vh 4vw;
    font-size: 1.2vw;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-container button:hover {
    background-color: #00798C;
}

.post-content button {
    margin-right: 10px;
    padding: 5px 10px;
}

.post-content form {
    margin-top: 10px;
}

.post-content textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;

}

.post-content button[type="submit"] {
    background-color: #EDAE49;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-content button[type="submit"]:hover {
    background-color: #005A6B;
}

@media (max-width: 768px) {
    .post-container {
        flex-direction: column;
        align-items: center;
    }

    .post-container h2 {
        font-size: 2.5em;
    }

    .post-container h3 {
        font-size: 1.5em;
    }

    .post-container a {
        height: auto;
    }

    .post-content {
        padding: 1rem;
    }

    .post-content button,
    .post-content form {
        width: 100%;
        max-width: 250px;
    }
}