
.post-container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #30638E;
    border-radius: 8px;
    color: #003D5B;
    padding: 5vw;
}


#postPhoto img {
    width: 100%;
    border-radius: 4px;
}


.post-container h2 {
    font-size: 1.5vw;
    margin-bottom: 1vh;
}


.post-container h3 {
    font-size: 1vw;
    margin-bottom: .5vh;
}


.post-container iframe {
    width: 100%;
    height: 50vh;
    margin-bottom: 2vh;
}


.post-container button {
    background-color: #EDAE49;
    font-weight: bold;
    color: white;
    border: none;
    padding: 2vh 4vw;
    font-size: 1.2vw;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-container button:hover {
    background-color: #D1495B;
}